
/* pink = #F94A77 */
/* text color black = #323232 */

*
{
    text-shadow: none !important;
}

body
{
    font-family: 'Segoe UI';
    color: white;
    
} 


/******************************************************/

.home_hero
{
    position: relative;
    top:0px;
    left:0px;
    height:800px;
    width: 100%;
    padding:0px;
    background: url('../images/home/homeBackground.jpg');
    z-index:0;
}

.home_hero .overlay
{
    position: absolute;
    height:100%;
    width: 100%;
    background: gray;
    opacity: 0.3;
}


/******************************************************/



/******************************************************/





.slogan
{
    position: relative;
    top: 0px;
    left: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    margin-top:300px;
    /* margin-left: 200px !important; */
}

/* This font styling for this would be reused.
Hence, did not use .slogan with the selectors. */
span
{
    line-height: .6em;
}


span.small_thin_text, span.large_thick_text
{
    /* line-height: .6em; */
    display: block;
}

span.small_thin_text
{
    font-size: 1em;
    font-weight: 100;
    line-height: 1em;
    margin-left: 5px;
}

span.large_thick_text
{
    font-size: 2.5em;
    font-weight: 800;
    display: inline-block;
    
}

span.pink_dot
{
    color:#F94A77;
    font-size: 2.5em;
    font-weight: 800;
}



/******************************************************/



.worked_with
{
    height:300px;
}

.worked_with .container .row
{
    margin-top: 100px;
}

.worked_with .row h2
{
    color:#323232;
    font-weight: 100;
    display:inline-block;
    vertical-align: top;
    font-size: 1.5em;
    padding:0 10px;
}

.worked_with .row div
{
    height: 100px;
    /* border:1px solid red; */
}

.worked_with .row .poal
{
    background: url("../images/home/we've worked with/poal.jpg");
    background-repeat: no-repeat;    
    /* background-size: contain; */
    margin-top: 25px;
    margin-right: 40px;
}

.worked_with .row .aramex
{
    background: url("../images/home/we've worked with/aramex.jpg");
    background-repeat: no-repeat;    
    /* background-size: contain; */
    margin-top: 30px;
    margin-right: 40px;
}

.worked_with .row .trademe
{
    background: url("../images/home/we've worked with/trademe.jpg");
    background-repeat: no-repeat;    
    background-size: contain;
    margin-top: 30px;
    margin-right: 40px;
}

.worked_with .row .sff
{
    background: url("../images/home/we've worked with/sff.jpg");
    background-repeat: no-repeat;    
    /* background-size: contain; */
    margin-top: 30px;
    margin-left: 3em;
}




/******************************************************/




/* Common for featured work */
span.featured_small_thin_text
{
    font-size: 1em;
    font-weight: 100;
    line-height: 1em;
}

span.featured_large_thick_text
{
    font-size: 2.5em;
    font-weight: 800;
}

p.featured_short_description
{
    font-weight: 100;
    width:400px;
    font-size: 1.5em;
}

button.learn_more
{
    width:170px;
    height:40px;
    background: transparent;
    border: 1px solid #323232;
    border-radius: 0;
}






/******************************************************/





/* VR Training */
.featured_work .poal_vr
{
    width:100%;
    height:700px;
    background: #f2f2f2;
    position: relative;
    top:0;
    left: 0;
    z-index: 0;
}

.featured_work .poal_vr .row
{
    height: 100%;
    margin-top: 120px;
}

.featured_work .poal_vr .vr_photo
{
    height: 400px;
    background: url("../images/home/featured work/Vr headset.jpg");
    background-repeat:no-repeat;
    background-position: 0px center;
}

.featured_work .poal_vr .vr_text
{
    color:#323232;
    display: inline-block;
    margin-top: 100px;
}

.featured_work .row p
{
    vertical-align: middle;
    font-size:25px;
}

.featured_work .row .vr_text button:hover
{
    background: #323232;
    color: #f2f2f2;
}





/******************************************************/




/* BYOD Courier app */
.featured_work .aramex
{
    position: relative;
    top:0;
    left:0px;
    z-index: 100 !important;  
    height:500px;
    width: 100%;
    background: url("../images/home/featured work/Aramex background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.featured_work .aramex .aramex_text
{
    margin-top: 100px !important;
    /* margin-left: 100px; */
}


.featured_work .aramex .aramex_text .featured_large_thick_text
{
    line-height: 1em;
}

.featured_work .aramex .aramex_text button.learn_more
{
    border:1px solid white;
}

.featured_work .aramex .aramex_text button.learn_more:hover
{
    background: white;
    color:#323232;
}

.featured_work .aramex .aramex_photo
{
    height:100%;
    /* background: url("../images/home/featured work/Aramex floating phones.png"); */
    background-repeat:no-repeat;
    background-position-y:-100px;
    position: relative;
    top:0;
    left: 0;
    z-index: 100 !important;  
}



.featured_work .aramex .aramex_photo img
{
    margin-top: -100px;
    margin-left: 50px;
}






/******************************************************/





/* Trademe */
.featured_work .trademe
{
    width:100%;
    height:700px;
    background: #f2f2f2;
}

.featured_work .trademe .row
{
    height: 100%;
    margin-top: 120px;
}

.featured_work .trademe .trademe_photo
{
    height: 400px;
    background: url("../images/home/featured work/Property tablet.jpg");
    background-repeat: no-repeat;
    background-position:0px center;
}

.featured_work .trademe .trademe_text
{
    color: #323232;
    margin-top: 100px;
}

.featured_work .trademe .trademe_text button.learn_more:hover
{
    background: #323232;
    color: #f2f2f2;
}






/******************************************************/





/* Silver fern farms */
.featured_work .sff
{
    height:500px;
    width: 100%;
    background: url("../images/home/featured work/SFF background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.featured_work .sff .sff_text
{
    margin-top: 100px !important;
    /* width:500px; */
}

.featured_work .sff .sff_text .featured_large_thick_text
{
    line-height: 1em;
}

.featured_work .sff .sff_text button.learn_more
{
    border:1px solid white;
}

.featured_work .sff .sff_text button.learn_more:hover
{
    background: white;
    color:#323232;
}

.featured_work .sff .sff_photo
{
    height:100%;
    /* background: url("../images/home/featured work/Aramex floating phones.png"); */
    background-repeat:no-repeat;
    background-position-y:-100px;
    position: relative;
    top:0;
    left: 0;
    z-index: 100 !important;  
}

.featured_work .sff .sff_photo img
{
    margin-top: -100px;
    margin-left: 250px;
}






/******************************************************/


.testimonials
{
    width:100%;
    background: #f2f2f2;
    
}

/* carousel */
.row .carousel
{
    height:400px;
    background: #f2f2f2;

}

#quote-carousel 
{
  padding: 0 10px 30px 10px !important;
  height:200px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}

/* Actual quotes */
.carousel-inner
{
    margin-top: 130px;
}

/* Quote wording */
.carousel-inner .nice_words
{
    font-style: italic;
    font-family: 'Segoe UI';
}

/* Testimonial person name */
.carousel-inner blockquote small.testimonial_name
{
    color: #F94A77 !important;
    font-weight: 400 !important;
    
}

.carousel-inner blockquote small.testimonial_name::before, .carousel-inner blockquote small.testimonial_company::before
{
    content: none;
}

.carousel-inner blockquote small.testimonial_company
{
    font-weight: 800 !important;
}

/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
  padding-right:50px;
}

#quote-carousel .carousel-control.left:hover
{
    color: #F94A77;
}

/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
  padding-left:50px;
}

#quote-carousel .carousel-control.right:hover
{
    color: #F94A77;    
}

/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;

    color: #323232;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}






/******************************************************/




/* Our Recognitions */
.recognitions
{
    height:300px;
}

.recognitions .container .row
{
    margin-top: 100px;
}




.recognitions .row  div h2
{
    color:#323232;
    font-weight: 100;
    display:inline-block;
    vertical-align: top;
    font-size: 1.5em;
    padding:0 10px;
}

.recognitions .row div
{
    height:100px;
    background-repeat: no-repeat;
    background-size: contain;
    padding:10px;
    /* margin: 0 20px; */
    /* padding:0 50px; */
    /* border:1px solid red; */
}



.recognitions div.cio
{
    background: url("../images/home/recognitions/cio.jpg");
    margin-top: 30px;
    background-repeat: no-repeat;    
    /* background-size: contain; */
}

.recognitions div.microsoft_partner
{
    background: url("../images/home/recognitions/msft partner.jpg");
    margin-top: -10px;
    background-repeat: no-repeat;    
    /* background-size: contain; */
}

.recognitions div.microsoft_mvp
{
    background: url("../images/home/recognitions/msft.jpg");
    margin-top: 5px;
    background-repeat: no-repeat;   
    /* background-size: contain; */
     
}






/******************************************************/





/* Latest News */
.latest_news
{
    height:auto;
    background: #f4f4f4;
}

.latest_news .page-header
{
    border:none;
}

.latest_news h2 
{
    font-size:4em;
    font-weight:800;
    line-height: 40px;
    color: #323232;
}

.latest_news h2 small
{
    font-size: .5em;
    font-weight: 100;
}

.latest_news .row
{
    height: auto;
}

.latest_news .row .left_stories
{
    height:100%;
    color:#323232;
}


.latest_news .row .left_stories article
{
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #d8d8d8;
}


.latest_news .row .left_stories .content
{
    font-size: 2em;
    font-weight: 100;
    line-height: 20px;
}

.latest_news .row .left_stories > footer
{
    font-size: 1em;
    color: #9B9B9B;
    line-height: 10px;
}

.latest_news .row .cio > h3
{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 2.2em;
}

.latest_news .row .idealog > h3
{

}

.latest_news .row .computerworld > h3
{

}

.latest_news .row .stuff > h3
{

}





/* Right pane news */
.latest_news .row .right_stories
{
    height:100%;
    color: #323232;
}

.latest_news .row .right_stories article
{
    border-bottom: 1px solid #d8d8d8;
    padding: 10px 0 20px 0;
}

.latest_news .row .right_stories article .lwa_tiny_logo
{
    border-radius: 3px;
    margin-right: 5px;
}

.latest_news .row .right_stories article h3
{
    display: inline-block;
    font-size: 1em;
    font-weight: 600;
    padding-bottom: 10px;
}

.latest_news .row .right_stories article h3 > small
{
    font-size: .9em;
    color: #9B9B9B;
    
}

.latest_news .row .right_stories article p
{
    color: #9B9B9B;
    line-height: 20px;
}







/******************************************************/






.partners
{
    width: 100%;
    height:300px;
}

.partners .container .row
{
    margin-top: 100px;
}

section.partners h2
{
    color: #323232;
    font-weight: 100;
    display:inline-block;
    vertical-align: top;
    font-size: 1.5em;
    padding:0 10px;
    padding-left:0;
}

.partners .row div
{
    padding-left: 0;
    height: 100px;
    /* border:1px solid red; */
}

.partners .microsoft
{
    background: url("../images/home/our partners/Microsoft.jpg");
    background-repeat: no-repeat;    
    margin-top: 25px;
    margin-right:50px;
}

.partners .honeywell
{
    background: url("../images/home/our partners/Honeywell.jpg");
    background-repeat: no-repeat;    
    margin-top: 35px;
    margin-right:50px;
    
}

.partners .spark
{
    background: url("../images/home/our partners/Spark-NZ.jpg");
    background-repeat: no-repeat;    
    margin-top: 15px;
    margin-right:50px;
}

.partners .panasonic
{
    background: url("../images/home/our partners/Panasonic.jpg");
    background-repeat: no-repeat;    
    margin-top: 30px;
}







/******************************************************/






footer.footer
{
    height:500px;
    background: url("../images/footer/Home Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

footer.footer .row h3
{
    margin-top:100px;
    color: #f4f4f4;
    
}

footer.footer .row .contact_info
{
    margin-top:100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    width:100%;
    color: #f4f4f4;
}

footer.footer .row .contact_info h4
{
    font-weight: 800;
    color: #f4f4f4;    
}

footer.footer .row .contact_info a
{
    color:#f4f4f4;
}

footer.footer .row .address
{
    line-height: 50px !important;
    padding-left:0;
}

footer.footer .row .address img
{
    display: block;
}

footer.footer .row .phone
{
}


footer.footer .row .email
{

}

footer.footer .row .email a.btn_pink_border
{
    font-weight: 400 !important;
    color: #f4f4f4;
    letter-spacing: 1px;
    background: transparent !important;
    border: 2px solid #F94A77 !important;
    color: #F94A77 !important;
    
    margin-top: 28px;
    text-transform: uppercase !important;
    padding:10px 43px;
}

footer.footer .row .email a.btn_pink_border:hover
{
    background: #F94A77 !important;
    color: white !important;
}

footer.footer .row .follow_us img
{
    padding:10px 15px 10px 0;
}