
/* pink = #F94A77 */
/* text color black = #323232 */

*
{
    text-shadow: none !important;
}

body
{
    font-family: 'Segoe UI';
    color: white;
    
}


/******************************************************/

.home_hero
{
    position: relative;
    top:0px;
    left:0px;
    height:800px;
    width: 100%;
    padding:0px;
    background: url('../images/home/homeBackground.jpg');
    z-index:0;
}

.home_hero .overlay
{
    position: absolute;
    height:100%;
    width: 100%;
    background: gray;
    opacity: 0.3;
}


/******************************************************/


.navbar
{
    z-index: 1;
    background: transparent;
    border:none;
    box-shadow: none;
}

.navbar .navbar-brand
{
    /* margin-left: 200px !important; */
}

.navbar .navbar-collapse
{
    /* margin-right: 100px; */
}

.navbar .navbar-collapse ul li
{
    padding:20px;
    text-transform: uppercase;
}

.navbar .navbar-collapse ul li a
{
    font-weight: 600 !important;
    color: #f4f4f4;
}

.navbar .navbar-collapse a.btn_pink_border
{
    font-weight: 400 !important;
    color: #f4f4f4;
    letter-spacing: 1px;
    background: transparent !important;
    border: 2px solid #F94A77 !important;
    color: #F94A77 !important;
    margin:20px;
    margin-top: 28px;
    text-transform: uppercase !important;
}

.navbar .navbar-collapse a.btn_pink_border:hover
{
    background: #F94A77 !important;
    color: white !important;
}



/******************************************************/



.slogan
{
    position: relative;
    top: 0px;
    left: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    margin-top:300px;
    /* margin-left: 200px !important; */
}

.slogan .container span
{
    line-height: .6em;
}

.slogan .container span.small_thin_text, .slogan .container span.large_thick_text
{
    /* line-height: .6em; */
    display: block;
}

.slogan .container span.small_thin_text
{
    font-size: 1em;
    font-weight: 100;
    line-height: 1em;
    margin-left: 5px;
}

.slogan .container span.large_thick_text
{
    font-size: 2.5em;
    font-weight: 800;
    display: inline-block;
    
}

.slogan .container span.pink_dot
{
    color:#F94A77;
    font-size: 2.5em;
    font-weight: 800;
}



/******************************************************/



.worked_with
{
    height:300px;
    
    
}

.worked_with .container-fluid .row
{
    margin-top: 100px;
    
}

.worked_with .row h2
{
    color:#323232;
    font-weight: 100;
    display:inline-block;
    vertical-align: top;
    font-size: 1.5em;
    padding:0 10px;
}

.worked_with .row div
{
    height: 100px;
    /* border:1px solid red; */
}

.worked_with .row .poal
{
    background: url("../images/home/we've worked with/poal.jpg");
    background-repeat: no-repeat;    
    /* background-size: contain; */
    margin-top: 25px;
}

.worked_with .row .aramex
{
    background: url("../images/home/we've worked with/aramex.jpg");
    background-repeat: no-repeat;    
    /* background-size: contain; */
    margin-top: 30px;
}

.worked_with .row .trademe
{
    background: url("../images/home/we've worked with/trademe.jpg");
    background-repeat: no-repeat;    
    background-size: contain;
    margin-top: 30px;
}

.worked_with .row .sff
{
    background: url("../images/home/we've worked with/sff.jpg");
    background-repeat: no-repeat;    
    /* background-size: contain; */
    margin-top: 30px;
    margin-left: 3em;
}




/******************************************************/




.featured_work .poal_vr
{
    height:600px;
    background: #f2f2f2;
    position: relative;
    top:0;
    left: 0;
    z-index: 0;
}



.featured_work .poal_vr .vr_photo
{
    height: 100%;
    background: url("../images/home/featured work/Vr headset.jpg");
    background-repeat:no-repeat;
    background-position: center;
}

.featured_work .poal_vr .vr_text
{
    color:#323232;
    display: inline-block;
    margin-top: 150px;
}

.featured_work .row p
{
    vertical-align: middle;
    font-size:25px;
}

span.large_thick_text
{
    font-size: 2.5em;
    font-weight: 800;
}

span.small_thin_text
{
    font-size: 1em;
    font-weight: 100;
    line-height: 1em;
}

.featured_work .row .vr_text p.worlds_first
{
    font-weight: 100;
    width:400px;
    font-size: 1.5em;
}

.featured_work .row .vr_text button
{
    width:170px;
    height:40px;
    background: transparent;
    border: 1px solid #323232;
    border-radius: 0;
}

.featured_work .row .vr_text button:hover
{
    background: #323232;
    color: #f2f2f2;
}




/******************************************************/




.featured_work .aramex
{
    position: relative;
    top:0;
    left:0px;
    z-index: 100 !important;  
    height:500px;
    width: 100%;
    background: url("../images/home/featured work/Aramex background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.featured_work .aramex .aramex_photo
{
    height:100%;
    /* background: url("../images/home/featured work/Aramex floating phones.png"); */
    background-repeat:no-repeat;
    background-position-y:-100px;
    position: relative;
    top:0;
    left: 0;
    z-index: 100 !important;  
    
}

.featured_work .aramex .aramex_photo img
{
    margin-top: -100px;
}