
/* pink = #F94A77 */


*
{
    text-shadow: none !important;
}

body
{
    font-family: 'Segoe UI';
    color: white;
    
}


/******************************************************/

.home_hero
{
    position: relative;
    top:0px;
    left:0px;
    height:800px;
    width: 100%;
    padding:0px;
    background: url('../images/home/homeBackground.jpg');
    z-index:0;
}

.home_hero .overlay
{
    position: absolute;
    height:100%;
    width: 100%;
    background: gray;
    opacity: 0.3;
}


/******************************************************/


.navbar
{
    z-index: 1;
    background: transparent;
    border:none;
    box-shadow: none;
}

.navbar .navbar-brand
{
    /* margin-left: 200px !important; */
}

.navbar .navbar-collapse
{
    /* margin-right: 100px; */
}

.navbar .navbar-collapse ul li
{
    padding:20px;
    text-transform: uppercase;
}

.navbar .navbar-collapse ul li a
{
    font-weight: 600 !important;
    color: #f4f4f4;
}

.navbar .navbar-collapse a.btn_pink_border
{
    font-weight: 400 !important;
    color: #f4f4f4;
    letter-spacing: 1px;
    background: transparent !important;
    border: 2px solid #F94A77 !important;
    color: #F94A77 !important;
    margin:20px;
    margin-top: 28px;
}

.navbar .navbar-collapse a.btn_pink_border:hover
{
    background: #F94A77 !important;
    color: black !important;
}



/******************************************************/



.slogan
{
    position: relative;
    top: 0px;
    left: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    margin-top:300px;
    /* margin-left: 200px !important; */
}

.slogan .container span
{
    line-height: .6em;
}

.slogan .container span.small_thin_text, .slogan .container span.large_thick_text
{
    /* line-height: .6em; */
    display: block;
}

.slogan .container span.small_thin_text
{
    font-size: 1em;
    font-weight: 100;
    line-height: 1em;
    margin-left: 5px;
}

.slogan .container span.large_thick_text
{
    font-size: 2.5em;
    font-weight: 800;
    display: inline-block;
    
}

.slogan .container span.pink_dot
{
    color:#F94A77;
    font-size: 2.5em;
    font-weight: 800;
}



/******************************************************/



.worked_with
{
    height:200px;
    width:100%;
    position: 
    background:red;

}