.navbar
{
    z-index: 1;
    background: transparent;
    border:none;
    box-shadow: none;
}

.navbar .navbar-brand
{
    /* margin-left: 200px !important; */
}

.navbar .navbar-collapse
{
    /* margin-right: 100px; */
}

.navbar .navbar-collapse ul li
{
    padding:20px;
    text-transform: uppercase;
}

.navbar .navbar-collapse ul li a
{
    font-weight: 400 !important;
    color: #f4f4f4;
}

.navbar .navbar-collapse ul li a.active
{
    border-bottom: 3px solid #F94A77 !important;
}

.navbar .navbar-collapse ul li a:hover
{
    border-bottom: 1px solid #F94A77 !important;
    
}


.navbar .navbar-collapse a.btn_pink_border
{
    font-weight: 400 !important;
    color: #f4f4f4;
    letter-spacing: 1px;
    background: transparent !important;
    border: 1px solid #F94A77 !important;
    color: #F94A77 !important;
    margin:20px;
    margin-top: 22px;
    text-transform: uppercase !important;
    padding:12px 25px;
}

.navbar .navbar-collapse a.btn_pink_border:hover
{
    background: #F94A77 !important;
    color: white !important;
}


